body {
    color: black;
    background-color: seashell;
}

h3 {
    color: rgb(113, 27, 147);
    background-color: rgb(154, 177, 222);
    width: fit-content;
}

div.emailandphone {
    color: rgb(29, 60, 216);
    background-color: seashell;
}

h4 {
    color: rgb(93, 4, 71);
    width: fit-content;
}

em {
    color: rgb(93, 4, 71);
}